/* 首页css样式 */
/* 版心 */
.wrapper{

    margin: 0px auto;
    width: 1200px;

}
body{
    background-color: #f3f5f7;
}

/* 头部区域 */
.header{
    height: 100px;
    background-color: #fff;
}
.header .wrapper {
    padding-top: 29px;
    display: flex;
}

/* logo */
.logo a {
    display: block;
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);
    font-size: 0px;
}
/* 导航 */
.nav{
    margin-left: 102px;
}
.nav ul {
    display: flex;
}

.nav li {
    margin-right: 24px;
}

.nav li a {
    display: block;
    padding:6px 8px;
    line-height: 27px;
    font-size: 19px;
}

/* active 类选择器，表示默认选中的a */
.nav li .active,
.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

/* 搜索 */
.search{
    display: flex;

    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
}

.search input{
    flex: 1;
    border: 0;
    background-color: transparent;
    /* 透明色 */
    outline: none;
    /* 去掉表单控件的焦点框 */

}
.search input::placeholder{
    font-size: 14px;
    color: #999;
}
.search a {
    /* display: block; */
    /* 父级已经写过display：flex了，子级会变弹性盒子 */
    align-self: center;
    width: 16px;
    height: 16px;
    background-image: url(../images/search.png);
}
/* 用户 */
.user{
    margin-left: 32px;
    margin-top: 4px;
}
.user img {
    margin-right: 7px;
    /* vertical-align 行内块和行内垂直方向对齐方式 */
    vertical-align: middle;
}
.user span{
    font-size: 16px;
    color: #666;

}

/* banner区域 */
.banner{
    height: 420px;
    background-color: #0092cb;
}

.banner .wrapper {
    display: flex;
    justify-content: space-between;
    height: 420px;
    background-image: url(../uploads/banner.png);
}

.banner .left {
    width: 191px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.42);
    padding:3px 20px;
}

.banner .left a {
    /* 块级宽幅默认是父级的100% */
    display: block;
    height: 46px;
    line-height: 46px;
    background: url(../images/right.png) no-repeat right center;
    font-size: 16px;
    color: #fff;
}

.banner .left a:hover{
    background-image: url(../images/right-hover.png);
    color: #00a4ff;
}
/* 课程表 */
.banner .right{
    width: 218px;
    height: 305px;
    background-color: #209dd5;

    margin-top: 60px;
    border-radius: 10px;
}
.banner .right h3 {
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}
.banner .right .content {
    padding: 14px;
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
}
.banner .right .content dl {
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}
.banner .right .content dt{
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}
.banner .right .content dd {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
}
.banner .right .content dd span {
    color: #00a4ff;
}
.banner .right .content dd strong {
    color: #7d7d7d;
    font-weight: 400;
}
.banner .right .content a {
    display: block;
    height: 32px;
    background-color: #00a4ff;
    text-align: center;
    line-height: 32px;
    color: #fff;
    font-size: 14px;
    border-radius: 15px;
}

/* recommend区域 */
.recommend{
    display: flex;
    margin-top: 11px;
    padding: 0 20px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
    line-height: 60px;
}

.recommend h3 {
    font-size: 18px;
    color: #00a4ff;
    font-weight: 400;
}

.recommend ul {
    display: flex;
    flex: 1;
}
.recommend ul li a {
    font-size: 18px;
    padding: 0 24px;
    border-right: 1px solid #e0e0e0;
}
.recommend ul li:last-child a{
    border-right: 0;
}
.recommend .modify{
    font-size: 16px;
    color: #00a4ff;
}

/* 推荐课程区域 */
.course{
    margin-top: 15px;
}

.hd{
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}
.hd h3 {
    font-size: 21px;
    font-weight: 400;
}
.hd .more {
    padding-right: 20px; 
    background: url(../images/more.png) no-repeat right center;
    font-size: 14px;
    color: #999;
}

.bd ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bd li {
    margin-bottom: 14px;
    background-color: pink;
    width: 228px;
    height: 271px;
}
.bd li .pic {
    height: 156px;
}
.bd li .text {
    padding: 20px;
    height: 115px;
    background-color: #fff;
}
.bd li .text h4{
    height: 40px;
    margin-bottom: 13px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.bd li .text p{
    font-size: 14px;
    line-height: 20px;
    color: #999;
}

.bd li .text p span{
    color: #fa6400;
}
.bd li .text p i{
    font-style: normal;
}

.hd ul {
    display: flex;
}
.hd li {
    margin-right: 60px;
    font-size: 16px;
}
.hd li .active,
.hd li a:hover{
    color: #00a4ff;
}

.bd{
    display: flex;
    justify-content: space-between;
}

.bd .left {
    width: 228px;
    /* background-color: pink; */
}
.bd .right {
    width: 957px;
    /* background-color: brown; */
} 
.bd .right .top {
    margin-bottom: 15px;
    height: 100px;
}

/* .ai .bd ul {
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
} */
.bdd ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bdd li {
    margin-bottom: 14px;
    background-color: pink;
    width: 228px;
    height: 271px;
}
.bdd li .pic {
    height: 156px;
}
.bdd li .text {
    padding: 20px;
    height: 115px;
    background-color: #fff;
}
.bdd li .text h4{
    height: 40px;
    margin-bottom: 13px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.bdd li .text p{
    font-size: 14px;
    line-height: 20px;
    color: #999;
}

.bdd li .text p span{
    color: #fa6400;
}
.bdd li .text p i{
    font-style: normal;
}


/* 版权区域 */
.footer{
    margin-top: 60px;
    padding: 60px;
    height: 273px;
    background-color: #fff;
}
.footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer .wrapper .left {
    width: 440px;
    /* background-color: pink; */
}
.footer .left p{
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 17px;
    color: #666;
} 
.footer .left .download {
    display: block;
    width: 120px;
    height: 34px;
    border: 1px solid #00a4ff;
    font-size: 16px;
    color: #00a4ff;
    line-height: 36px;
    text-align: center;
}

.footer .right {
    display: flex;
}
.footer .right dl {
    margin-right: 130px;
}

.footer .right dt {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;

}
.footer .right a {
    font-size: 14px;
    color: #666;
    line-height: 24px;
}